
<img src="https://www.inderdhillon.com/files/logo-white.png" width="100">

<h1>arxiv Data Dashboard</h1>
<b>Inder Dhillon</b><br>
<i>inderdhillon.com</i><br><br>
Wanted to brush up on DataViz, using arxiv data on papers with various data science tags for the same. <br><br>Source of Data :
https://www.kaggle.com/neelshah18/arxivdataset
<hr><br>

Installing TabPy

In [ ]:
pip install TabPy

Collecting TabPy
  Downloading https://files.pythonhosted.org/packages/57/5a/cc4a6138487e05336f03b0d2b44857da0e5349fae63656d6a9e59bab96e9/tabpy-1.1.0-py2.py3-none-any.whl (81kB)
     |████████████████████████████████| 81kB 2.3MB/s
Requirement already satisfied: jsonschema in /usr/local/lib/python3.6/dist-packages (from TabPy) (2.6.0)
Collecting simplejson
  Downloading https://files.pythonhosted.org/packages/98/87/a7b98aa9256c8843f92878966dc3d8d914c14aad97e2c5ce4798d5743e07/simplejson-3.17.0.tar.gz (83kB)
     |████████████████████████████████| 92kB 5.9MB/s
Collecting configparser
  Downloading https://files.pythonhosted.org/packages/4b/6b/01baa293090240cf0562cc5eccb69c6f5006282127f2b846fad011305c79/configparser-5.0.0-py3-none-any.whl
Collecting genson
  Downloading https://files.pythonhosted.org/packages/65/00/7aae36d5ecf483585fba2bacb7c1ccb4ceaf4fcba61f8f9846845300f93b/genson-1.2.1.tar.gz
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from TabPy) (1.12.0)
Requirement already satisfied: docopt in /usr/local/lib/python3.6/dist-packages (from TabPy) (0.6.2)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.6/dist-packages (from TabPy) (1.3.0)
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from TabPy) (0.16.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from TabPy) (3.2.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from TabPy) (1.0.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from TabPy) (1.18.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from TabPy) (1.4.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from TabPy) (4.4.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from TabPy) (2.8.1)
Collecting pyopenssl
  Downloading https://files.pythonhosted.org/packages/9e/de/f8342b68fa9e981d348039954657bdf681b2ab93de27443be51865ffa310/pyOpenSSL-19.1.0-py2.py3-none-any.whl (53kB)
     |████████████████████████████████| 61kB 4.9MB/s
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from TabPy) (0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from TabPy) (2.23.0)
Collecting singledispatch
  Downloading https://files.pythonhosted.org/packages/c5/10/369f50bcd4621b263927b0a1519987a04383d4a98fb10438042ad410cf88/singledispatch-3.4.0.3-py2.py3-none-any.whl
Requirement already satisfied: tornado in /usr/local/lib/python3.6/dist-packages (from TabPy) (4.5.3)
Collecting backports-abc
  Downloading https://files.pythonhosted.org/packages/7d/56/6f3ac1b816d0cd8994e83d0c4e55bc64567532f7dc543378bd87f81cebc7/backports_abc-0.5-py2.py3-none-any.whl
Requirement already satisfied: textblob in /usr/local/lib/python3.6/dist-packages (from TabPy) (0.15.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from TabPy) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->TabPy) (2018.9)
Collecting cryptography>=2.8
  Downloading https://files.pythonhosted.org/packages/3c/04/686efee2dcdd25aecf357992e7d9362f443eb182ecd623f882bc9f7a6bba/cryptography-2.9.2-cp35-abi3-manylinux2010_x86_64.whl (2.7MB)
     |████████████████████████████████| 2.7MB 7.5MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->TabPy) (0.22.2.post1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->TabPy) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->TabPy) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->TabPy) (2.9)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in /usr/local/lib/python3.6/dist-packages (from cryptography>=2.8->pyopenssl->TabPy) (1.14.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->TabPy) (0.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi!=1.11.3,>=1.8->cryptography>=2.8->pyopenssl->TabPy) (2.20)
Building wheels for collected packages: simplejson, genson
  Building wheel for simplejson (setup.py) ... done
  Created wheel for simplejson: filename=simplejson-3.17.0-cp36-cp36m-linux_x86_64.whl size=114214 sha256=3b93313009ef09f1d1fb0dd02322fd5b45d5df9b52a10b2d568d9d5867c6d41a
  Stored in directory: /root/.cache/pip/wheels/86/c0/83/dcd0339abb2640544bb8e0938aab2d069cef55e5647ce6e097
  Building wheel for genson (setup.py) ... done
  Created wheel for genson: filename=genson-1.2.1-py2.py3-none-any.whl size=20675 sha256=fa3c9b5a56d38aa91d707f3a8b400987ff8e331b58245997b4b66b1522f93f19
  Stored in directory: /root/.cache/pip/wheels/ba/c9/97/4321c713eef14f54e41e02363a5a4c29a509c33f37196455db
Successfully built simplejson genson
Installing collected packages: simplejson, configparser, genson, cryptography, pyopenssl, singledispatch, backports-abc, TabPy
Successfully installed TabPy-1.1.0 backports-abc-0.5 configparser-5.0.0 cryptography-2.9.2 genson-1.2.1 pyopenssl-19.1.0 simplejson-3.17.0 singledispatch-3.4.0.3

Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import tabpy as tp
import re

In [ ]:
dataset = pd.read_json('/content/drive/My Drive/Colab Files/arxiv Analysis/arxivData.json')

Changing some preferences for pandas

In [ ]:
pd.set_option('display.max_columns', None)

Wrangling the dataset to make it clean

In [ ]:
print(dataset.head(5))

                                              author  day            id  \
0  [{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...    1  1802.00209v1
1  [{'name': 'Ji Young Lee'}, {'name': 'Franck De...   12  1603.03827v1
2  [{'name': 'Iulian Vlad Serban'}, {'name': 'Tim...    2  1606.00776v2
3  [{'name': 'Sebastian Ruder'}, {'name': 'Joachi...   23  1705.08142v2
4  [{'name': 'Iulian V. Serban'}, {'name': 'Chinn...    7  1709.02349v2

                                                link  month  \
0  [{'rel': 'alternate', 'href': 'http://arxiv.or...      2
1  [{'rel': 'alternate', 'href': 'http://arxiv.or...      3
2  [{'rel': 'alternate', 'href': 'http://arxiv.or...      6
3  [{'rel': 'alternate', 'href': 'http://arxiv.or...      5
4  [{'rel': 'alternate', 'href': 'http://arxiv.or...      9

                                             summary  \
0  We propose an architecture for VQA which utili...
1  Recent approaches based on artificial neural n...
2  We introduce the multiresolution recurrent neu...
3  Multi-task learning is motivated by the observ...
4  We present MILABOT: a deep reinforcement learn...

                                                 tag  \
0  [{'term': 'cs.AI', 'scheme': 'http://arxiv.org...
1  [{'term': 'cs.CL', 'scheme': 'http://arxiv.org...
2  [{'term': 'cs.CL', 'scheme': 'http://arxiv.org...
3  [{'term': 'stat.ML', 'scheme': 'http://arxiv.o...
4  [{'term': 'cs.CL', 'scheme': 'http://arxiv.org...

                                               title  year
0  Dual Recurrent Attention Units for Visual Ques...  2018
1  Sequential Short-Text Classification with Recu...  2016
2  Multiresolution Recurrent Neural Networks: An ...  2016
3  Learning what to share between loosely related...  2017
4              A Deep Reinforcement Learning Chatbot  2017

In [ ]:
dataset.head(5)

,author,day,id,link,month,summary,tag,title,year
0,"[{'name': 'Ahmed Osman'}, {'name': 'Wojciech S...",1,1802.00209v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
1,"[{'name': 'Ji Young Lee'}, {'name': 'Franck De...",12,1603.03827v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",3,Recent approaches based on artificial neural n...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Sequential Short-Text Classification with Recu...,2016
2,"[{'name': 'Iulian Vlad Serban'}, {'name': 'Tim...",2,1606.00776v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",6,We introduce the multiresolution recurrent neu...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Multiresolution Recurrent Neural Networks: An ...,2016
3,"[{'name': 'Sebastian Ruder'}, {'name': 'Joachi...",23,1705.08142v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",5,Multi-task learning is motivated by the observ...,"[{'term': 'stat.ML', 'scheme': 'http://arxiv.o...",Learning what to share between loosely related...,2017
4,"[{'name': 'Iulian V. Serban'}, {'name': 'Chinn...",7,1709.02349v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",9,We present MILABOT: a deep reinforcement learn...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",A Deep Reinforcement Learning Chatbot,2017

In [ ]:
dataset["author"] = dataset["author"].str.replace("{'name': '", "")
dataset["author"] = dataset["author"].str.replace('{\'name\': "', "")
dataset["author"] = dataset["author"].str.replace("'}", "")
dataset["author"] = dataset["author"].str.replace('"}', "")
dataset["author"] = dataset["author"].str.replace("]", "")
dataset["author"] = dataset["author"].str.replace("[", "")
dataset["author"] = dataset["author"].str.split(",")

*Could have used regex above to make it more optimized, maybe I'll change it later*

In [ ]:
dataset.head()

,author,day,id,link,month,summary,tag,title,year
0,"[Ahmed Osman, Wojciech Samek]",1,1802.00209v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",2,We propose an architecture for VQA which utili...,"[{'term': 'cs.AI', 'scheme': 'http://arxiv.org...",Dual Recurrent Attention Units for Visual Ques...,2018
1,"[Ji Young Lee, Franck Dernoncourt]",12,1603.03827v1,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",3,Recent approaches based on artificial neural n...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Sequential Short-Text Classification with Recu...,2016
2,"[Iulian Vlad Serban, Tim Klinger, Gerald Tes...",2,1606.00776v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",6,We introduce the multiresolution recurrent neu...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",Multiresolution Recurrent Neural Networks: An ...,2016
3,"[Sebastian Ruder, Joachim Bingel, Isabelle A...",23,1705.08142v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",5,Multi-task learning is motivated by the observ...,"[{'term': 'stat.ML', 'scheme': 'http://arxiv.o...",Learning what to share between loosely related...,2017
4,"[Iulian V. Serban, Chinnadhurai Sankar, Math...",7,1709.02349v2,"[{'rel': 'alternate', 'href': 'http://arxiv.or...",9,We present MILABOT: a deep reinforcement learn...,"[{'term': 'cs.CL', 'scheme': 'http://arxiv.org...",A Deep Reinforcement Learning Chatbot,2017

In [ ]:
dataset["tag"] = dataset["tag"].str.findall(r"(cs\.[A-Z][A-Z]|stat\.[A-Z][A-Z])")

Checking if values for year and month are within the expected ranges

In [ ]:
dataset["year"].describe()

count    41000.000000
mean      2014.484073
std          3.685414
min       1993.000000
25%       2013.000000
50%       2016.000000
75%       2017.000000
max       2018.000000
Name: year, dtype: float64

In [ ]:
dataset["month"].describe()

count    41000.000000
mean         6.547488
std          3.525254
min          1.000000
25%          3.000000
50%          6.000000
75%         10.000000
max         12.000000
Name: month, dtype: float64

In [ ]:
dataset["date"] = dataset["month"].astype(str) + "/" + dataset["year"].astype(str)
dataset = dataset.loc[: , ["author", "date", "tag"]]

In [ ]:
dataset.head()

,author,date,tag
0,"[Ahmed Osman, Wojciech Samek]",2/2018,"[cs.AI, cs.CL, cs.CV, cs.NE, stat.ML]"
1,"[Ji Young Lee, Franck Dernoncourt]",3/2016,"[cs.CL, cs.AI, cs.LG, cs.NE, stat.ML]"
2,"[Iulian Vlad Serban, Tim Klinger, Gerald Tes...",6/2016,"[cs.CL, cs.AI, cs.LG, cs.NE, stat.ML]"
3,"[Sebastian Ruder, Joachim Bingel, Isabelle A...",5/2017,"[stat.ML, cs.AI, cs.CL, cs.LG, cs.NE]"
4,"[Iulian V. Serban, Chinnadhurai Sankar, Math...",9/2017,"[cs.CL, cs.AI, cs.LG, cs.NE, stat.ML]"

Data is clean, but not normalized yet. I won't split it into multiple Dataframes to reduce redundancy, as the size of the Dataframe is manageable as is and is good enough for the scope of me using this dataset for Data Viz.

In [ ]:
dataset = dataset.explode('tag')
dataset = dataset.explode('author')
dataset = dataset.reset_index()

In [ ]:
dataset.head(15)

    index               author    date      tag
0       0          Ahmed Osman  2/2018    cs.AI
1       0       Wojciech Samek  2/2018    cs.AI
2       0          Ahmed Osman  2/2018    cs.CL
3       0       Wojciech Samek  2/2018    cs.CL
4       0          Ahmed Osman  2/2018    cs.CV
5       0       Wojciech Samek  2/2018    cs.CV
6       0          Ahmed Osman  2/2018    cs.NE
7       0       Wojciech Samek  2/2018    cs.NE
8       0          Ahmed Osman  2/2018  stat.ML
9       0       Wojciech Samek  2/2018  stat.ML
10      1         Ji Young Lee  3/2016    cs.CL
11      1   Franck Dernoncourt  3/2016    cs.CL
12      1         Ji Young Lee  3/2016    cs.AI
13      1   Franck Dernoncourt  3/2016    cs.AI
14      1         Ji Young Lee  3/2016    cs.LG

In [ ]:
dataset["tag"].value_counts()

cs.CV      51769
cs.LG      44774
stat.ML    33057
cs.AI      30856
cs.CL      20804
cs.NE      12004
cs.IR       4642
cs.RO       3732
cs.SI       2130
cs.HC       1666
cs.IT       1642
cs.DS       1607
cs.DC       1566
cs.LO       1562
cs.CR       1494
cs.SD       1386
cs.MM       1258
cs.CY       1236
stat.ME     1234
stat.AP     1186
cs.DB       1007
stat.TH      960
cs.CE        903
cs.GT        887
cs.SY        879
cs.GR        849
cs.NA        824
cs.MA        793
stat.CO      745
cs.SE        624
cs.NI        448
cs.DL        429
cs.CC        424
cs.PL        351
cs.ET        293
cs.AR        288
cs.MS        285
cs.CG        269
cs.DM        238
cs.FL        122
cs.PF        122
cs.SC         68
cs.GL         30
cs.OH         25
stat.OT       19
cs.OS         11
Name: tag, dtype: int64

Removing entries with tags we don't want to track

In [ ]:
tag_filter = (dataset["tag"] == "cs.AI") | (dataset["tag"] == "cs.CL") | (dataset["tag"] == "cs.NE") | (dataset["tag"] == "cs.CV") | (dataset["tag"] == "stat.ML")

In [ ]:
dataset = dataset[tag_filter]

In [ ]:
dataset.head(15)

    index               author    date      tag
0       0          Ahmed Osman  2/2018    cs.AI
1       0       Wojciech Samek  2/2018    cs.AI
2       0          Ahmed Osman  2/2018    cs.CL
3       0       Wojciech Samek  2/2018    cs.CL
4       0          Ahmed Osman  2/2018    cs.CV
5       0       Wojciech Samek  2/2018    cs.CV
6       0          Ahmed Osman  2/2018    cs.NE
7       0       Wojciech Samek  2/2018    cs.NE
8       0          Ahmed Osman  2/2018  stat.ML
9       0       Wojciech Samek  2/2018  stat.ML
10      1         Ji Young Lee  3/2016    cs.CL
11      1   Franck Dernoncourt  3/2016    cs.CL
12      1         Ji Young Lee  3/2016    cs.AI
13      1   Franck Dernoncourt  3/2016    cs.AI
16      1         Ji Young Lee  3/2016    cs.NE

In [ ]:
dataset.to_csv('arxivData.csv')

In [ ]:
dataset[dataset["author"] == "Uwe Aickelin"]

        index        author     date    tag
45739    3964  Uwe Aickelin   1/2008  cs.NE
45741    3964  Uwe Aickelin   1/2008  cs.AI
45747    3966  Uwe Aickelin   1/2008  cs.NE
45748    3966  Uwe Aickelin   1/2008  cs.AI
45877    3995  Uwe Aickelin   3/2010  cs.AI
45878    3995  Uwe Aickelin   3/2010  cs.NE
122480  13604  Uwe Aickelin   5/2013  cs.NE
188547  33261  Uwe Aickelin   1/2008  cs.NE
188557  33264  Uwe Aickelin   1/2008  cs.NE
188563  33265  Uwe Aickelin   2/2008  cs.NE
188569  33267  Uwe Aickelin   2/2008  cs.NE
188982  33374  Uwe Aickelin   8/2013  cs.NE
188995  33377  Uwe Aickelin   3/2008  cs.NE
189033  33382  Uwe Aickelin   3/2008  cs.NE
189047  33385  Uwe Aickelin   3/2008  cs.NE
189051  33386  Uwe Aickelin   3/2008  cs.NE
189055  33387  Uwe Aickelin   3/2008  cs.NE
189059  33388  Uwe Aickelin   3/2008  cs.NE
189065  33389  Uwe Aickelin   3/2008  cs.NE
189472  33479  Uwe Aickelin   5/2013  cs.NE
189803  33551  Uwe Aickelin  11/2007  cs.NE